# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/

# Bases de datos locales
*.db
*.sqlite3

# Variables de entorno
.env

# Sistema operativo
.DS_Store
Thumbs.db
